/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {margin: 0px auto 0px auto; width:80%; max-width:850px; background-color: #841714;}



@media only screen and (max-width:650px) {
  body {margin: 0px; width:100%;}
}
